<nav aria-label="breadcrumb">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/meanscore">Meanscore</a></li>
    <li class="breadcrumb-item"><a href="/highscore">Highscore</a></li>
  </ol>
</nav>
<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">
    <h1 class="display-4">Meanest Game in the World!</h1>
  </div>
</div>
<article class="highscore">
  <strong>Highscores:</strong>
  <ol>
    <li>Donald Trump - 999,234,000 points</li>
    <li>Kim Jong Un - 993,938,223 points</li>
    <li>Vladmir Putin - 900,203,221 points</li>
    <li>Travis Ko - 8,000 points</li>
    <li>Eric Chen - 7,800 points</li>
    <li>Claudia Hernandez - 6,800 points</li>
  </ol>
</article>
<footer class="footer mt-auto py-3">
  <h5>Made with ❤️️ by The Squad</h5>
  <p>&copy; 2021 The Meanest Game in the World</p>
</footer>