<nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href="/homepage">Homepage</a></li>
        <li class="breadcrumb-item"><a href="/meanscore">Meanscore</a></li>
        <li class="breadcrumb-item"><a href="/highscore">Highscore</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
      </ol>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meanest Game in the World!</a> 
    </nav> -->
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
      <div class="container">
        <h1 class="display-4">Meanest Game in the World!</h1>
      </div>
    </div>
    <div class="row">
      <aside class="resources col-md-4 col-sm-12">
        <div class="box">
          <div class="resource-title">
            <h2>Resources</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">"INSERT QUOTE HERE"</h5>
              <h6 class="card-subtitle mb-2 text-muted">Person Cited</h6>
              <p class="card-text">Points: 100</p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">"INSERT QUOTE HERE"</h5>
              <h6 class="card-subtitle mb-2 text-muted">Person Cited</h6>
              <p class="card-text">Points: 100</p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">"INSERT QUOTE HERE"</h5>
              <h6 class="card-subtitle mb-2 text-muted">Person Cited</h6>
              <p class="card-text">Points: 100</p>
            </div>
          </div>
        </div>
      </aside>
      <section class="mapContainer col-md-8 col-sm-12">
        <div class="box">
          <article class="map">THIS IS WHERE THE MAP WILL LIVE</article>
        </div>
      </section>
    </div>
    <footer class="footer mt-auto py-3">
      <h5>Made with ❤️️ by The Squad</h5>
      <p>&copy; 2021 The Meanest Game in the World</p>
    </footer>